parameters:
    level: 8
    ignoreErrors:
        - '#with generic class .* does not specify its types:.*#'
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    excludePaths:
        - 'src/tests/*'
        - 'examples/*'
